.textDivLanding {
  border-bottom: 1px solid rgb(0, 0, 0, 0.22);
  width: 100%;
  height: 400px;
  /* margin-top: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headDiv {
  /* border: 1px solid black; */
  width: 100%;
  height: 400px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.titleH {
  font-size: 50px;
  margin-top: 30px;
  /* border: 1px solid black; */
}

.textH {
  font-size: 20px;
  /* border: 1px solid black; */
  width: 70%;
}

.podcastMainDiv {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url("./../../../public/podBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.podcastDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.podcastHead {
  margin-top: -1.5%;
  margin-bottom: 1.5%;
  height: 20px;
  font-size: 30px;
  /* color: white; */
}
/*----------------*/

.navMainDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* background-color: white; */
  top: 0;
  z-index: 3;
  /* border: 1px solid rgb(0, 0, 0, 0.333); */
  transition: all ease-in-out 0.6s;
}

.navMainDivScroll {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 3;
  /* border: 1px solid black; */
  transition: all ease-in-out 0.6s;
}

.signBtnDiv {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: -15%;
  transition: all ease-in-out 0.3s;
  /* border: 1px solid black; */
}

.signBtnDivScroll {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.signBtn {
  height: 25px;
  width: 80px;
  border-radius: 20px;
  margin-left: 20px;
  transition: all ease-in-out 0.3s;
}

.signBtn:hover {
  cursor: pointer;
  color: white;
  background-color: gray;
}

.logoDiv {
  width: 35%;
  /* border: 1px solid black; */
}

.logoImg {
  margin-top: 20px;
  width: 50%;
  transition: all ease-in-out 0.6s;
}

.logoImg:hover {
  cursor: pointer;
}

.logoImgScroll {
  width: 20%;
  transition: all ease-in-out 0.6s;
}

.logoImgScroll:hover {
  cursor: pointer;
}

.navUserDiv {
  /* border: 1px solid black; */
  width: 33%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-top: -15%;
  transition: all ease-in-out 0.3s;
}

.navUserDivScroll {
  width: 33%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.userIcon {
  width: 45%;
  margin-right: 10px;
}
