.oneDiscMainDiv {
  width: 100%;
  min-height: 508px;
  /* height: 800px; */
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("./../../../public/header2.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.fullPostDiv {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.postDetailDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.582);
}

.userInfo2 {
  width: 99%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid; */
  gap: 1vh;
  margin-right: 2vh;
  margin-top: 1vh;
}

.userImg2 {
  width: 8vh;
  height: 8vh;
  min-width: 8vh;
  min-height: 8vh;
  border-radius: 100%;
  border: 1px solid gray;
}

.postCont {
  width: 100%;
  margin: 2%;
  font-size: 35px;
}

.fullPostImgDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullPostImg {
  width: 50%;
  border-radius: 2vh;
}

.comDiv {
  /* border: 1px solid; */
  width: 30%;
  margin: 1.5vh;
  /* gap: 1vh; */
}

.comMainDiv {
  min-width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  border: 1px solid #80808038;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.76);
}

.topCommentDiv {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commenterName {
  color: grey;
  font-size: 2vh;
  margin-top: 10px;
  margin: 1vh;
}

.commentTxt {
  width: 100%;
  /* margin-top: 4vh; */
  /* border: 1px solid; */
}

.timeStamp {
  color: grey;
  font-size: 10px;
  margin: 1vh;
}

.addComDiv {
  /* border: 1px solid; */
  width: 100%;
  height: 30vh;
  position: sticky;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 2vh;
  border: 1px solid rgba(128, 128, 128, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comInput {
  font-family: dubai;
  text-align: center;
  width: 40vh;
  height: 15vh;
  border-radius: 20px;
  border-color: rgba(187, 187, 187, 0.876);
}

.sendComBtn {
  min-width: 8vh;
  border-radius: 3vh;
  font-weight: 500;
  font-family: dubai;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.178);
  transition: all 0.3s ease;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendComBtn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2c395d;
}

.userImg3 {
  width: 6vh;
  height: 6vh;
  min-width: 6vh;
  min-height: 6vh;
  border-radius: 100%;
  border: 1px solid gray;
}
