:root {
  --darkest: #0d0d0d;
  --darkNavy: #192036;
  --deepKoamaru: #2c395d;
  --metallicBrown: #b44919;
  --tumbleweed: #eaa88f;
}

.discMainDiv {
  width: 100%;
  min-height: 605px;
  /* height: 800px; */
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("./../../../public/header2.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.postsMainDiv {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.582);
}

.uploadDiv {
  /* border: 1px solid; */
  border-radius: 20px;
  min-width: 90%;
  max-width: 90%;
}

.addingInput {
  width: 70%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.294);
  border: rgba(128, 128, 128, 0.774) 1px solid;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

.uploading {
  /* border: 1px solid; */
  width: 100%;
}

.uploadLabel {
  width: vh;
  /* border: 1px solid; */
  /* background-color: #567890; */
}

.progress {
  width: 10%;
  /* border: 1px solid; */
}

.custom-file-input {
  margin-left: 10px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "رفع صورة";
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-size: 10pt;
  font-family: dubai;
  font-weight: 50011;
  transition: all 0.3s ease;
  min-width: 10vh;
  height: 3vh;
  text-align: center;
  border-radius: 20px;
}

.custom-file-input:hover::before {
  border-color: black;
  background-color: #2c395d;
  color: white;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #192036, #29314b);
}

.postsMainDiv {
  width: "80%";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-content: "center";
}
