.App {
  text-align: center;
  font-family: Dubai;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(44, 57, 93, 0.21992616626728811) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --darkest: #0d0d0d;
  --darkNavy: #192036;
  --deepKoamaru: #2c395d;
  --metallicBrown: #b44919;
  --tumbleweed: #eaa88f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
