* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navMainDivNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* background-color: white; */
  top: 0;
  z-index: 99;
  /* border: 1px solid rgb(0, 0, 0, 0.333); */
  transition: all ease-in-out 0.6s;
}

.navMainDivScroll {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.111);
  transition: all ease-in-out 0.3s;
}

.signBtnDivNav {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -1%;
  transition: all ease-in-out 0.3s;
}

.signBtnDivScroll {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  /* border: 1px solid black; */
}

.signBtn {
  /* height: 25px; */
  width: 100px;
  /* border-radius: 20px; */
  /* margin-left: 20px; */
  transition: all ease-in-out 0.3s;
  /* border: 1px black solid; */
}

.signBtn:hover {
  cursor: pointer;
  color: #2c395d;
  text-decoration: underline;
  /* background-color: gray; */
}

.logoDiv {
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  /* border: 1px solid black; */
  cursor: pointer;
}

.logoImgNav {
  /* margin-right: 10px; */
  width: 100%;
  transition: all ease-in-out 0.6s;
  /* border: 1px solid black; */
}

.logoImg:hover {
  cursor: pointer;
}

.logoImgScroll {
  width: 80%;
  transition: all ease-in-out 0.6s;
  /* margin-right: 10px; */
  /* border: 1px solid black; */
}

.logoImgScroll:hover {
  cursor: pointer;
}

.navDivNav {
  /* border: 1px solid black; */
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1%;
  padding-right: 6%;
  transition: all ease-in-out 0.3s;
}

.navDivScroll {
  width: 82%;
  display: flex;
  /* border: 1px solid black; */
}

.navTag {
  transition: all ease-in-out 0.3s;
}

.navTag a {
  margin-left: 45px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  transition: all ease-in-out 0.3s;
}

.navTag a:hover {
  color: #2c395d;
}

.userIcon {
  width: 42%;
  border-radius: 100%;
  margin-bottom: -10px;
}

.userIconLogged {
  width: 45px;
  margin-left: 25px;
  margin-top: 10%;
  border-radius: 100%;
}

.loggedDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid; */
  margin-bottom: -20px;
}
